/**Import global variables using import**/
@import url('../../cssGlobals/colors.css');

.main {
    background-color: orange;
    width: calc(100% - 20px);
    height: 75px;
    color: white;
    margin: 0 10px;
}