/**Import global variables using import**/
@import url('../cssGlobals/colors.css');

/**use global variables like below**/
body{
    color: var(--primary-color);
    font-family: "Helvetica";
}

.tester {
    color: red;
}
